interactions:
- request:
    body: '{"version": "2.14.1", "package": {"name": "org.apache.logging.log4j:log4j-core",
      "ecosystem": "Maven"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.osv.dev/v1/query
  response:
    content: '{"vulns":[{"id":"GHSA-7rjr-3q55-vv33","summary":"Incomplete fix for
      Apache Log4j vulnerability","details":"# Impact\n\nThe fix to address [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228)
      in Apache Log4j 2.15.0 was incomplete in certain non-default configurations.
      This could allow attackers with control over Thread Context Map (MDC) input
      data when the logging configuration uses a non-default Pattern Layout with either
      a Context Lookup (for example, $${ctx:loginId}) or a Thread Context Map pattern
      (%X, %mdc, or %MDC) to craft malicious input data using a[...]
